<!-- Oksana Koshulap, 301167025, June 4, 2021-->


 <link rel="icon" href="../public/Assets/images/oksana_logov2.png" type="image/x-icon"> 

<%- include partials/header.ejs %> 


<%- include partials/main_nav.ejs %>   


<!--Main content -->
<main class="container"> 
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page!</h1>
    </div>
</main>  
 <!-- detects which title page is active so displays the correc contetn--> 
 
 <!-- home content-->
 <% if (title == 'Home') {%> 
  <%- include content/c_home.ejs %> <% }%> 

<!-- about content -->
 <% if (title == 'About') {%> 
  <%- include content/c_about.ejs %> <% }%> 

<!-- projects content -->
 <% if (title == 'Projects') {%> 
  <%- include content/c_projects.ejs %> <% }%> 

<!-- services content -->
 <% if (title == 'Services') {%> 
  <%- include content/c_services.ejs %> <% }%> 

<!-- contacts content -->
 <% if (title == 'Contact') {%> 
  <%- include content/c_contact.ejs %> <% }%> 


<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %> 



